services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./mern-auth-backend
    ports:
      - "5000:5000"
    env_file:
      - ./mern-auth-backend/.env
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/mern_auth
    depends_on:
      - mongo

  frontend:
    build: ./mern-auth-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo-data: